<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Debug"
      internalLogFile="C:\Logs\TasksManagerAPI\nlog-internal.log">

  <targets>
    <target xsi:type="Console" name="console"
            layout="${longdate}|${level:uppercase=true}|${logger:shortName=true}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="allfile"
            fileName="C:\Logs\TasksManagerAPI\app-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
            archiveEvery="Day"
            maxArchiveFiles="30" />

    <target xsi:type="File" name="errorfile"
            fileName="C:\Logs\TasksManagerAPI\errors-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
            archiveEvery="Day"
            maxArchiveFiles="30" />

    <target xsi:type="File" name="requestfile"
            fileName="C:\Logs\TasksManagerAPI\requests-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
            archiveEvery="Day"
            maxArchiveFiles="14" />
  </targets>

  <rules>
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Information" writeTo="allfile,console" final="true" />
    <logger name="Microsoft.*" maxlevel="Information" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Warning" final="true" />

    <logger name="TasksManagerAPI.Middleware.RequestLoggingMiddleware" minlevel="Debug" writeTo="requestfile,allfile,console" />

    <logger name="TasksManagerAPI.*" minlevel="Debug" writeTo="allfile,console" />

    <logger name="*" minlevel="Error" writeTo="errorfile" />
  </rules>
</nlog>